<%- include('includes/dash-header') %>
    

    <div class="section post-section" style="background-color: rgb(32, 32, 32);">
		<div class="container">
			<div class="row g-5">

                
                <div class="col-lg-6" style="margin-top: -20px;">
					<div class="post-entry d-block small-post-entry-v">
						<img src="images/img_7.jpg" alt="" class="img-fluid">
                    </div>
                </div>


                <div class="col-lg-6">
					<div class="post-entry d-block small-post-entry-v">
						<div class="content">

							<div class="post-meta mb-1">

                                <h2 style="font-weight: bold; color: #4dc3ff; text-align: center;">
                                    About Us</h2>
                                
                                    <p>Knowing a place to post your advert and people seeing it, 
                                        it's better than posting at random places for people to view your adverts. 
                                        <strong>Thereby introducing ADshow.</strong>
                                    </p>

                                    <p>
                                        ADshow, a community where we believe there is a better way of advertising products to the right customers(people). 
                                        At ADshow, we provide a more valuable, <strong>less costly</strong> of advertising products or talents. 
                                    </p>

                                    <p>
                                        Here at ADshow, we focus more product or talents advertisment and making sure it gets to your right customers.
                                    </p>

                                    <p>
                                       <strong> We at ADshow are exicted to simplify product or talents advertisment for the community.</strong>
                                    </p>
							</div>
							
						</div>
                    </div>
                </div>
                

                <div class="col-lg-12">
                    <div class="post-entry d-block small-post-entry-v">
						<div class="content">


                            <div class="post-meta mb-1">

                                <h2 style="font-weight: bold; color: #4dc3ff; margin-bottom: 20px;">
                                Frequent Asked Questions?</h2>

                                <div class="accordion-wrapper">
                                    <div class="accordion">
                                      <input class="jerrymiah-input" type="radio" name="radio-a" id="check1" checked>
                                      <label class="accordion-label" for="check1">How do I post AD?</label>
                                      <div class="accordion-content">
                                        <p>The process is very simple and straight-forward, navigate to your account page, click on the <strong>Create Post</strong> 
                                          button. You will be required to write a short headline, a brief description and to select a category for the advert you intend to post. 
                                          Select either a <strong>Video/Image</strong> and your Advert will succesfully be uploaded. Follow each instructions given, to have a succesful upload.</p>
                                      </div>
                                    </div>
                                    <div class="accordion">
                                      <input class="jerrymiah-input" type="radio" name="radio-a" id="check2">
                                      <label class="accordion-label" for="check2">How do I add AD to Trending Billboard?</label>
                                      <div class="accordion-content">
                                        <p>Navigate to your account page, select the post you want to upload on the weekly trending billboard and click on <strong>Add Billboard.</strong> 
                                        </p>
                                      </div>
                                    </div>
                                    <div class="accordion">
                                      <input class="jerrymiah-input" type="radio" name="radio-a" id="check3">
                                      <label class="accordion-label" for="check3">Must I pay before my AD is added to the Trending Billboard?</label>
                                      <div class="accordion-content">
                                        <p><strong>Yes!</strong> You are required to pay the sum of <strong style="color: red;">$10</strong> per AD post weekly. 
                                          Trending billboard is a mechanism formulated by we at ADshow to always make sure your advertisment is always viewed by the public.</p>
                                      </div>
                                    </div>
                                    <div class="accordion">
                                      <input class="jerrymiah-input" type="radio" name="radio-a" id="check4">
                                      <label class="accordion-label" for="check4">How do I contact the owner of an AD?</label>
                                      <div class="accordion-content">
                                        <p>Click on the AD post, the AD owner contacts is provided or available right there.</p>
                                      </div>
                                    </div>
                                  </div>
                                    
                                
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>




<%- include('includes/footer') %>