<%- include('includes/dash-header') %>
    

    <div class="section post-section" style="background-color: rgb(32, 32, 32);">
		<div class="container">
			<div class="row g-5">

                
                <div class="col-lg-6" style="margin-top: -20px;">
					<div class="post-entry d-block small-post-entry-v">
						<img src="images/img_7.jpg" alt="" class="img-fluid">
                    </div>
                </div>


                <div class="col-lg-6">
					<div class="post-entry d-block small-post-entry-v">
						<div class="content">

							<div class="post-meta mb-1">

                                <h2 style="font-weight: bold; color: #4dc3ff; text-align: center; margin-bottom: 25px;">
                                    Contact Us</h2>
                                
                                   <div class="thumbnail" style="background-color: whitesmoke; height: 100px;">
                                    <h4 style="text-align: center; padding-top: 5px; color: goldenrod;">Help Desk</h4>
                                    <h3 style="text-align: center; padding-top: 5px;">
                                        info@adshow.com
                                    </h3>
                                    </div>
                                   
                                   <div class="thumbnail" style="background-color: whitesmoke; height: 140px;">
                                   
                                    <h4 style="text-align: center; padding-top: 5px; color: goldenrod;">Give Us a Call</h4>
                                    <h3 style="text-align: center; padding-top: 5px;">
                                        +234 9159589463
                                    </h3>
                                    <h3 style="text-align: center;">
                                        +234 9132479118
                                    </h3>
                                    </div>
                                
							</div>
							
						</div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>




<%- include('includes/footer') %>