<%- include('includes/log-header') %>
    

    <div class="section">
		<div class="container">
			<div class="row g-5">



                <div class="col-lg-6" style="margin-top: -30px; background-color: white;">
					<div class="post-entry d-block small-post-entry-v">
						<div class="content">

							<div class="post-meta mb-1">

                                <h4 style="font-weight: bold; color: #4dc3ff; margin-top: 30px;">
                                    Advertise Your Dream</h4>
                                <p style="color: black;">Hi There! Welcome. </p>

								<form action="" class="row login-form">

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" 
                                            style="margin-top: 20px;">Email</h3>

                                    <input type="email" id="log-email" class="form-control" placeholder="" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" 
                                            style="margin-top: 20px;">Password</h3>

                                    <input type="password" id="log-password" class="form-control" minlength="8" placeholder="********" required>
                                    

                                            
                                    <a href="" 
                                    style="float: right; color: rgb(195, 195, 241); font-style: italic; font-size: 12px;">
                                    forgotten password?</a>
                                        </div>
                                    </div>


                                    <div class="col-md-12 d-grid" style="margin-top: 20px; text-align: center;">
                                        <input type="submit" class="btn btn-primary" value="Log in">
                                    </div>

                                </form>
								<p style="text-align: center; margin-top: 10px; color: black;">Don't have an account? 
									<a href="/signup" style="color: rgb(103, 103, 238);"> <strong> Sign up </strong></a></p>
                                    
							</div>
							
						</div>
                    </div>
                </div>
                

                <div class="col-lg-6">
					<div class="post-entry d-block small-post-entry-v">
						<img src="images/ad-login-pic.jpg" alt="" style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>




<%- include('includes/footer') %>