<%- include('includes/log-header') %>


    <div class="section">
		<div class="container">
			<div class="row g-5">

                <div class="col-lg-6" style="margin-top: -30px;">
					<div class="post-entry d-block small-post-entry-v">
						<img src="images/ad-login-pic.jpg" alt="" style="max-width: 100%;">
                    </div>
                </div>


                <div class="col-lg-6" style="margin-top: 30px; background-color: white;">
					<div class="post-entry d-block small-post-entry-v">
						<div class="content">

							<div class="post-meta mb-1">

                                <h4 style="font-weight: bold; color: #4dc3ff; margin-top: 30px;">
									Advertise Your Dream</h4>
								<p style="color: black;">Create your account, It's Free. </p>

								<form action="" class="row form-signup">

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" >Name</h3>

                            <input type="text" id="sig-name" class="form-control" placeholder="" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" >Username</h3>

                            <input type="text" id="sig-username" class="form-control" placeholder="" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" 
                                            style="margin-top: 20px;">Phone number</h3>
                            <input type="text" id="sig-phoneNumber" class="form-control" placeholder="" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" 
                                            style="margin-top: 20px;">Email</h3>

                            <input type="email" id="sig-email" class="form-control" placeholder="" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" 
                                            style="margin-top: 20px;">Password</h3>

                            <input type="password" id="sig-password" class="form-control" minlength="8" placeholder="Minimum of 8 characters" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-0">
                                            <h3 class="h6" 
                                            style="margin-top: 20px;">Confirm Password</h3>

                            <input type="password" id="sig-passwordConfirm" class="form-control" minlength="8" placeholder="********" required>
                                        </div>
                                    </div>
                                    

                                    <div class="col-md-12 d-grid" style="margin-top: 20px; text-align: center;">
                                        <input type="submit" class="btn btn-primary" value="Create Account">
                                    </div>

                                </form>
								<p style="text-align: center; margin-top: 10px; color: black;">Already have an account? 
									<a href="/login" style="color: rgb(103, 103, 238);"> <strong> Login </strong></a></p>
							</div>
							
						</div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>




<%- include('includes/footer') %>